body {
    font-family: Arial, sans-serif;
}

header {
    border-bottom: 1px solid #cccccc9e;
    
}

.container {
    width: 60%;
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}